@font-face {
    font-family: NovaQuinta_PERSONAL_USE_ONLY;
    src: url('Fonts/NovaQuinta_PERSONAL_USE_ONLY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: PaulJackson_personaluse;
    src: url('Fonts/PaulJackson_personaluse.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NovaQuinta_PERSONAL_USE_ONLY', Arial, sans-serif;
    font-size: 24px;
    line-height: 2.4;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #DEB7D9;
}

header, footer {
    font-family: 'PaulJackson_personaluse', Arial, sans-serif;
    font-size: 24px;
    background-color: #B666D2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.footer.img{
    margin-top: 10px;
    width: 10px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.footer-img:hoover {
    opacity: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}
