@font-face {
    font-family: BacktoBlackDemo;
    src: url('D:\Proyecto\Fonts\BacktoBlackDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BacktoBlackDemo', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2em;
}
